/* Almost Black: hsl(0, 0%, 8%)  */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Epilogue", sans-serif;
}
p {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
button {
  border: 1px solid hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
  padding: 0.5em;
  width: 10em;
  border-radius: 15px;
  color: hsl(0, 0%, 41%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
#nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
